.Login {
  padding: 4em 1em;
	width: 100%;
	font-family: "jaf-facitweb","Helvetica Neue",Arial,sans-serif;
  color: #4d4d4d;
	font-weight: 300;
}

.Login p {
	max-width: 585px;
	margin: 1em auto;
	position: relative;
	font-size: 20px;
}