.Board {
  margin-bottom: 20px;
}

.Board-Header {
  display: flex;
  min-height: 43px;
  padding: 0 0 11px;
  margin: 0 0 0 38px;
  position: relative;
}

.Board-Header h3 {
  margin: 0;
  display: flex;
  font-size: 1pc;
  font-weight: 700;
  line-height: 24px;
  align-items: center;
  justify-content: center;
}

.Board-Header-Icon {
  top: 0;
  left: -38px;
  position: absolute;
}

.Board-Header-Icon span {
  width: 32px;
  height: 32px;
  color: #999;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.Board-Header-Options {
  margin-left: 8px;
}

.Board-List {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  flex-direction: row;
}