.Boards-Board {
  margin-bottom: 20px;
}

.Boards-Board-Header {
  display: flex;
  min-height: 43px;
  padding: 0 0 11px;
  margin: 0 0 0 38px;
  position: relative;
}

.Boards-Board-Header h3 {
  margin: 0;
  display: flex;
  font-size: 1pc;
  font-weight: 700;
  line-height: 24px;
  align-items: center;
  justify-content: center;
}

.Boards-Board-Header-Icon {
  top: 0;
  left: -38px;
  position: absolute;
}

.Boards-Board-Header-Icon span {
  width: 32px;
  height: 32px;
  color: #999;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.Boards-Board-Header-Options {
  margin-left: 8px;
}

.Boards-Board-List {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  flex-direction: row;
}

.BoardsMenu-Boards-Board-List {
  padding: 0px;
}

.BoardsMenu-Boards-Board-List:last-child {
  margin-bottom: 16px;
}

.BoardsMenu-Boards-Board-Header {
  color: #8c8c8c;
  margin: 1pc 30px 10px 8px;
  position: relative;
  display: flex;
  flex-direction: row;
}

.BoardsMenu-Boards-Board-Header h3 {
  color: #8c8c8c;
  font-size: 13px;
  margin: 0;
  display: flex;
  align-items: center;
}

.BoardsMenu-Boards-Board-Header-Icon {
  height: 18px;
  margin-right: 5px;
  vertical-align: bottom;
  width: 18px;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.BoardsMenu-Boards-Board-Header-Icon span {
  align-items: center;
  justify-content: center;
}