.Header {
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  background: #0067A3;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 40px;
  padding: 5px;
}

.Header-Button,
.Header-Button-Icon {
  font-weight: 700;
  float: left;
  height: 30px;
  min-width: 30px;
  line-height: 30px;
  border-radius: 3px;
  color: #f3f3f3;
  background: linear-gradient(to bottom,rgba(255,255,255,.3) 0,rgba(255,255,255,.2) 100%);

  margin-right: 8px;

  display: flex;
	justify-content: center;
  align-items: center;
}

.Header-Button:hover {
	cursor: pointer;
	background: linear-gradient(to bottom,rgba(255,255,255,.4) 0,rgba(255,255,255,.3) 100%);
}

.Header .title {
  display: flex;
}

.Header-Logo {
  opacity: .5;
  height: 30px;
  width: 80px;
  position: absolute;

  left: 50%;
  margin-left: -40px;
  
  z-index: 2;

  background-repeat: no-repeat;
  background-size: 5pc 30px;
  right: 0;

  background-image: url('../../../static/images/header-logo-2x.png');
}

.Header-Logo:hover {
  cursor: pointer;
  opacity: 1;
}