.SignUp-Form {
	font-family: "jaf-facitweb","Helvetica Neue",Arial,sans-serif;
	color: #4d4d4d;
	font-weight: 300;
	line-height: 1.44em;

	display: block;
	max-width: 585px;
	margin: 0 auto;
	position: relative;
}

.SignUp-Form-Header {
	font-size: 1.777em;
	line-height: 1.2em;
	margin: .67em 0;
}

.SignUp label {
	font-weight: 300;
}

.SignUp-Form-Fiels {
	display: flex;
	flex-direction: column
}

.SignUp-Form-Username,
.SignUp-Form-Password,
.SignUp-Form-Email,
.SignUp-Form-FullName,
.SignUp-Form-Initials {
	line-height: normal;
	background: #edeff0;
	border-radius: 4px;
	border: 1px solid #cdd2d4;
	box-sizing: border-box;
	padding: .5em;
	width: 100%;
	max-width: 430px;
	margin: 0 0 1.2em;
	user-select: text;
	cursor: auto;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
}

.SignUp-Form-SubmitButton {
	background: linear-gradient(to bottom, #61bd4f 0, #5aac44 100%);
	box-shadow: 0 2px 0 #3f6f21;
	color: #fff;
	margin: 1em 0 0 0;
	display: inline-block;
	font-weight: bold;
	padding: .6em 1.3em;
	position: relative;
	text-decoration: none;
	border: 0;
	border-radius: .3em;
}

.SignUp-Form-SubmitButton:hover {
  background: #068742;
}

.SignUp-Form-SubmitButton:focus {
  outline: none
}